.header-container {
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  
    @media (max-width: 768px) {
      flex-direction: row;
      margin-top: 10px;
    }
  }
  
  button {
    margin: 5px;
  
    @media (max-width: 768px) {
      margin: 5px 5px 5px 0;
    }
  }
  
  ul {
    list-style: none;
  }
  