.header-container {
    display: flex;
    justify-content: space-between;
}


.button-container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}

ul{
    list-style: none;
}