<div class="container mt-4">
  <div class="row">
    <div class="header-container">
      <div class="col-6">
        <h2>List of Pins</h2>
      </div>
      <div class="col-3 button-container">
        <button class="btn btn-primary float-right" (click)="navigateToAddCustomer()">+ Add Customer</button>
        <button class="btn btn-success float-right" (click)="navigateToAddPin()">+ Add Pin</button>
      </div>
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
          <th scope="col">Collaborators</th>
          <th scope="col">Privacy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of pins">
          <td>{{ pin.title }}</td>
          <td><img src="{{ pin.image }}" alt="{{ pin.title }}" width="100"></td>
          <td>
            <ul>
              <li>{{ pin.collaborator }}</li>
            </ul>
          </td>
          <td>{{ pin.privacy }}</td>
        </tr>
      </tbody>
    </table>
  </div>